* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  -webkit-text-size-adjust: 100%;
}

div h4 {
  color: white;
  text-align: center;
  margin: auto;
  margin-left: 3vw;
  margin-right: 3vw;
  font-size: 2.5vw;
}

body {
  background: url(https://i.imgur.com/SEGMGlW.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

.group {
  width: 50%;
  display: grid;
  margin: auto;
  padding-top: 2vh;
}

.btn-large {
  margin: 0.75vh;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/eot/IRANSansWeb(FaNum)_Medium.eot");
  src: url("./fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./fonts/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/eot/IRANSansWeb(FaNum).eot");
  src: url("./fonts/eot/IRANSansWeb(FaNum).eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/woff/IRANSansWeb(FaNum).woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}

body {
  font-family: IRANSans !important;
  font-weight: 300;
  direction: rtl;
  background-color: #e2e2e2;
  margin: 0;
}

.me {
  text-align: center;
  color: white;
  margin-top: 7%;
}

p a {
  color: #dce775;
}

.logo {
  height: 11vw;
  width: 9vw;
}

.titles {
  display: flex;
  margin: auto;
}

@media (max-width: 500px) {
  .group {
    width: 75%;
    padding-top: 6%;
  }

  div h4 {
    font-size: 5vw;
  }

  /* .titles {
    display: grid;
  } */
  .logo {
    height: 10vh;
    width: 14vw;
    margin: auto;
    /* position: absolute;
    left: 39vw;
    top: 3vw; */
  }
}
